<launch>
    <node name="tocabi_controller" pkg="tocabi_controller" type="tocabi_controller" output="screen">
        <param name="sim_mode" value="false"/>
        <param name="urdf_path" type="string" value="$(find tocabi_description)/robots/dyros_tocabi.urdf"/>
    </node>

    <node name="tocabi_ecat_lower" pkg="tocabi_ecat" type="tocabi_ecat_lower" output="screen">
    
    </node>

    <node name="tocabi_ecat_upper" pkg="tocabi_ecat" type="tocabi_ecat_upper" output="screen">
    
    </node>

</launch>
